* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: rgb(50, 1, 114);
  align-items: center;
}

.navbar a {
  float: left;
  font-size: 18pt;
  padding: 10px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.form {
  margin: auto;
  margin-top: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgb(50, 1, 114);
  height: 550px;
  width: 500px;
}

.form h2 {
  font-size: 30pt;
}

.btn {
  margin: 10px;
  height: 33px;
  width: 250px;
  font-size: 15pt;
  background-color: rgb(217, 65, 255);
  border: 2px solid black;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 250px;
}

.form-input label {
  font-size: 15pt;
}

.form-input input {
  height: 30px;
}

.chat-page-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 50px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 800px;
  border: 5px solid rgb(50, 1, 114);
}

.messages {
  overflow-y: auto;
}

.messages::-webkit-scrollbar {
  width: 15px;
}

.messages::-webkit-scrollbar-track {
  background-color: rgb(83, 51, 124);
  box-shadow: inset 0 0 5px rgb(141, 104, 175);
  border-radius: 5px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgb(50, 1, 114);
  border-radius: 20px;
  border: 3px solid rgb(83, 51, 124); 
}

.message {
  font-size: 16pt;
  margin: 10px 10px;
}

.message-send {
  margin-top: auto;
  width: 100%;
}

.message-send form {
  display: flex;
  margin: 5px;
  width: 97%;
  border: 3px solid rgb(50, 1, 114);
}

.message-input {
  width: 100%;
  font-size: 12pt;
  padding: 0px 5px;
  border: none;
  outline: none;
}

.message-btn {
  border: none;
  border-left: 3px solid rgb(50, 1, 114);
  height: 55px;
  width: 75px;
  background-color:rgb(50, 1, 114);
  color: white;
  font-size: 14pt;
}

.members {
  width: 300px;
  border: 5px solid rgb(50, 1, 114);
  padding: 10px;
}

.members p {
  font-size: 20pt;
}

.serverSelect {
  height: 25px;
  font-size: 16pt;
  margin: 10px;
}