* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: blue;
  align-items: center;
}

.navbar a {
  float: left;
  font-size: 18pt;
  padding: 10px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.form {
  margin: auto;
  margin-top: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgb(50, 1, 114);
  height: 550px;
  width: 500px;
}

.form h2 {
  font-size: 30pt;
}

.btn {
  margin: 10px;
  height: 33px;
  width: 250px;
  font-size: 15pt;
  background-color: rgb(217, 65, 255);
  border: 2px solid black;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 250px;
}

.form-input label {
  font-size: 15pt;
}

.form-input input {
  height: 30px;
}

.chat-page-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 50px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 800px;
  border: 5px solid rgb(50, 1, 114);
}

.message {
  font-size: 16pt;
  margin: 10px 15px;
}

.message-send {
  display: flex;
  margin: 5px;
  margin-top: auto;
  border: 2px solid rgb(50, 1, 114);
}

.message-input {
  width: 800px;
  height: 50px;
  font-size: 12pt;
  padding: 0px 5px;
  border: none;
  outline: none;
}

.message-btn {
  border: none;
  height: 55px;
  width: 75px;
  margin-left: 1px;
  background-color:rgb(145, 139, 146);
  color: white;
  font-size: 14pt;
}

.members {
  width: 300px;
  border: 5px solid rgb(50, 1, 114);
  padding: 10px;
}

.members p {
  font-size: 20pt;
}