* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: blue;
  align-items: center;
}

.navbar a {
  float: left;
  font-size: 18pt;
  padding: 10px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.form {
  margin: auto;
  margin-top: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgb(50, 1, 114);
  height: 550px;
  width: 500px;
}

.form h2 {
  font-size: 30pt;
}

.btn {
  margin: 10px;
  height: 33px;
  width: 250px;
  font-size: 15pt;
  background-color: rgb(217, 65, 255);
  border: 2px solid black;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 250px;
}

.form-input label {
  font-size: 15pt;
}

.form-input input {
  height: 30px;
}